<header>
    <div class="logo">
      <img src="../assets/logo.png" alt="">
  </div>    
  </header>
  <!-- {{loginForm.value | json}} -->
  <div class="main">
    <div class="wrapper">
      <div class="title">Admin Login</div>
      <form action="#" [formGroup]="loginForm" (ngSubmit)=" onsubmit()" >
        <div class="row">
          <label for="email">Email</label>
          <input [class.is-invalid]="f.email.touched && f.email.invalid" formControlName="email" type="text" placeholder="Email">
          <div *ngIf = "f.email.invalid && f.email.touched">
            <small *ngIf="f.email.errors?.required" class="text-danger">Email is required</small>
            <small *ngIf="f.email.errors?.email" class="text-danger">Email is invalid</small>
          </div>
        </div>
        <div class="row">
          <label for="password" >Password</label>
          <div class="flex">
            <input [class.is-invalid]="f.password.invalid && f.password.touched" formControlName="password" [type]="showPassword ? 'text':'password'" placeholder="Password">
            <mat-icon *ngIf="!showPassword" (click)="toggleShow()">visibility</mat-icon>
            <mat-icon *ngIf="showPassword" (click)="toggleShow()">visibility_off</mat-icon>
          </div>
          <div *ngIf = "f.password.invalid && f.password.touched">
              <small *ngIf="f.password.errors?.required" class="text-danger">Password is required</small>
              <small *ngIf="f.password.errors?.minlength" class="text-danger">Password should be atleast 8 characters long</small>
          </div>
        </div>
        
        <div class="new">Don't have account? <button (click) ="signupPage()">Create new account</button></div>
        <button class="button" [disabled] = "!loginForm.valid">Login</button>
      </form>
    </div>
  </div>
  