<header>
    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div> 
</header>
<nav>
    <div class="nav-icon">
        <mat-icon>view_headline</mat-icon>
    </div>
    <ul class="list">
      <li><button class="item" (click)="dashboardPage()"><span class="nav-span">Dashboard</span><mat-icon>dashboard</mat-icon></button></li><hr>
      <li><button class="item"><span class="nav-span">View Students</span><mat-icon>people</mat-icon></button></li>
      <div class="align-bottom">
        <li><button class="item" (click)="reset()"><span class="nav-span">Reset Password</span><mat-icon>lock_reset</mat-icon></button><hr></li>
        <li><button class="item" (click)="logout()"><span class="nav-span">Logout</span><mat-icon>logout</mat-icon></button></li>
      </div>
    </ul>
</nav>
<section class="main">
    <div class="main-heading">
        Student- Details
    </div>
    <div class="button-op">
        <button mat-raised-button (click) = "addStudentbutton()">Add new Student</button>
    </div>
    <div class="details">
        <table>
            <tr>
                <th>RollNo</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Total Attendance</th>
                <th></th>
            </tr>
            <tr *ngFor="let student of studentList">
                <td>{{student.rollNo}}</td>
                <td>{{student.name}}</td>
                <td>{{student.DOB}}</td>
                <td>{{student.mobile}}</td>
                <td>{{student.email}}</td>
                <td>{{student.address}}</td>
                <td>{{student.tAttendance}}</td>
                <td class="upd-dlt-btn">
                    <mat-icon (click)="updateStudent(student.rollNo)">mode_edit</mat-icon>
                    <mat-icon (click)="dialougeBox(student)">delete</mat-icon>
                </td>
            </tr>
            
        </table>
    </div>
</section>